
/* tablesorter styling */
table.tablesorter {
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
    vertical-align: top;
    
    background-color: #eaeaee;
}
table.tablesorter td {
	padding: 5px;
}
table.tablesorter .even {
	background-color: #bbb;
}
table.tablesorter .odd {
	background-color: #aaa;
}
table.tablesorter .header {
	background-image: url('/gsreport/img/bg.png');
	background-repeat: no-repeat;
    background-position: left center;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url('/gsreport/img/asc.png');
}
table.tablesorter .headerSortDown {
	background-image: url('/gsreport/img/desc.png');
}

