
/* tablesorter styling */
table.tablesorter {
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
    background-color: #eaeaee;
}
table.tablesorter td {
	padding: 5px;
}
table.tablesorter .even {
	background-color: #bbb;
}
table.tablesorter .odd {
	background-color: #aaa;
}
table.tablesorter .header {
	background-image: url('/gsreport/img/bg.png');
	background-repeat: no-repeat;
    background-position: left center;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url('/gsreport/img/asc.png');
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url('/gsreport/img/desc.png');
	background-repeat: no-repeat;
}

